@import url('https://fonts.googleapis.com/css?family=Roboto:100,300,400');
* {
    box-sizing: border-box;
}
body {
    margin:0;
    padding:0;
    background-color:#eee;
    font-family: 'Roboto', sans-serif;
}
#head {
    background-color:#001E8D;
    width:100%;
    margin:0;
    padding-top:7px;
    padding-bottom:7px;
    padding-left:5px;
    color:white;
    font-weight:100;
    font-size:35px;
    -webkit-box-shadow: 0px 2px 10px 0px rgba(0,0,0,0.5);
    -moz-box-shadow: 0px 2px 10px 0px rgba(0,0,0,0.5);
    box-shadow: 0px 2px 10px 0px rgba(0,0,0,0.5);
}
#foot {
    //position:absolute;
    bottom:0;
    width:100%;
    text-align:center;
    margin:0;
    padding:3px;
    background-color:#001E8D;
    color:white;
}
#content {
    padding-left:3px;
}
#subtitle {
    font-size:12px;
    padding-left:50px;
    height:14px;
}
a {
    color:inherit;
    font-weight:bold;
}
#head > a {
    font-weight:inherit;
    text-decoration:none;
}
#action-buttons {
    position:absolute;
    top:2px;
    right:2px;
    font-size:31px;
}
table {
    background-color:#ddd;
}
th {
    background-color:#ccc;
}
.mb {
    background-color:#001e8d;
    color:#eee;
    padding:5px;
    -webkit-box-shadow: 0px 2px 10px 0px rgba(0,0,0,0.5);
    -moz-box-shadow: 0px 2px 10px 0px rgba(0,0,0,0.5);
    box-shadow: 0px 2px 10px 0px rgba(0,0,0,0.5);
    text-transform:uppercase;
    border:0;
}
