@import url('https://fonts.googleapis.com/css?family=Roboto');
* {
    box-sizing: border-box;
}
body {
    margin:0;
    padding:0;
    background-color:#ded;
    font-family: 'Roboto', sans-serif;
}
#head {
    background-color:#001E8D;
    width:100%;
    margin:0;
    padding-top:7px;
    padding-bottom:7px;
    padding-left:5px;
    color:white;
    font-weight:300;
    font-size:35px;
}
#foot {
    position:absolute;
    bottom:0;
    width:100%;
    text-align:center;
    margin:0;
    padding:3px;
    background-color:#001E8D;
    color:white;
}
#content {
    font-family: 'Roboto', sans-serif;
    color:#222;
    background-color:#ded;
}
